#topBar{
    background-color: #272727;
    height: /*max(9.6%, 47.97px)*/ 9.6%;
    border-bottom: 2px solid #8b8b8b;
    z-index: 1;
}

#myCanvas
{
    filter: blur(3px);
}

#episodeList{
    overflow: auto;
    height: calc(100% - 9.6%);
}

.episode{
    width: calc(100% - 40px);
    height: 59px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(150,150,150,0.5);
    border-bottom: 1.5px solid #fff;
}